<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.screw.infrastructure.mapper.DesignerOrderMapper">
    <resultMap id="designerOrderResultMap" type="com.screw.domain.order.DesignerOrder">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="designer_id" property="designerId" />
        <result column="state" property="state" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result column="area" property="area" />
        <result column="expected_amount" property="expectedAmount" />
        <result column="estimated_days" property="estimatedDays" />
        <result column="actual_paid_amount" property="actualPaidAmount" />
        <result column="abort_cause" property="abortCause" />
        <result column="feedback_star" property="feedbackStar" />
        <result column="feedback_description" property="feedbackDescription" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>
    <sql id="selectPart">
        SELECT
            id,
            customer_id,
            designer_id,
            state,
            expected_amount,
            actual_paid_amount,
            estimated_days,
            area,
            abort_cause,
            feedback_star,
            feedback_description,
            created_time,
            updated_time
        FROM designer_order
    </sql>

    <select id="selectByKey" resultMap="designerOrderResultMap">
        <include refid="selectPart" />
        WHERE id = #{id}
    </select>

    <select id="selectOneBySpecification" resultMap="designerOrderResultMap">
        <include refid="selectPart" />
        WHERE 1=1
        <if test="id!=null and id!=''"> AND id = #{id}</if>
        <if test="designerId!=null and designerId!=''"> AND designer_id = #{designerId}</if>
        <if test="customerId!=null and customerId!=''"> AND customer_id = #{customerId}</if>
    </select>

    <select id="selectAll" resultMap="designerOrderResultMap">
        <include refid="selectPart" />
    </select>

    <select id="selectBySpecification" resultMap="designerOrderResultMap">
        <include refid="selectPart" />
        WHERE 1=1
        <if test="id!=null and id!=''"> AND id = #{id}</if>
        <if test="designerId!=null and designerId!=''"> AND designer_id = #{designerId}</if>
        <if test="customerId!=null and customerId!=''"> AND customer_id = #{customerId}</if>
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO designer_order(customer_id, designer_id, state)
        VALUES (#{customerId}, #{designerId}, #{state.code})
    </insert>
    <update id="update">
        UPDATE designer_order SET
            designer_id = #{designerId},
            state = #{state.code},
            area = #{area},
            expected_amount = #{expectedAmount},
            actual_paid_amount = #{actualPaidAmount},
            abort_cause = #{abortCause},
            feedback_star = #{feedbackStar},
            feedback_description = #{feedback_description},
            updated_time = SYSDATE()
        WHERE id = #{id} and updated_timed = #{updatedTime}
    </update>
    <delete id="delete" parameterType="com.screw.domain.order.DesignerOrder">
        DELETE FROM designer_order where id = #{id}
    </delete>
</mapper>
